.attachments-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    .img-fluid {
        width: 80px;
        margin: auto;
    }
    .btn-file-delete{
        position: absolute;
        right: 40px;
        top: 0px;
        font-size: 30px;
        color: #bd2222;
        text-decoration: none;
    }
}